*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:   url(../images/mug-background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
    --family:'Montserrat', sans-serif;
}

.container{
    margin: auto;
    width: 80%;
    padding: 5px; 
}
.blog_post{
    background-color: rgba(253, 193, 123, 0.46);
    border-radius: 10px;
    border: 2px outset rgb(252, 252, 252);
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 5px 5px 2px rgba(255, 255, 255,.8);
}
.blog_post>*{
    line-height: 30px;
    font-size: 1.25em;
    padding: 2px;
    text-transform: capitalize;
    font-family: var(--family);
}
.blog_post p{
    color: black;
}
.blog_post a{
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: 1.5px solid rgb(146, 137, 137);
    text-shadow: 0.025em 0.025em 0 red,
    2px 2px 0 rgb(229, 255, 0),
    3px 3px 0 rgb(50, 98, 255);
    color: black;
    animation: animate 2s linear 0s infinite alternate;
}
.blog_post label{
    color: black;
   display: grid;
   place-items: center;
}

.button {
    border-radius: 5px;
    margin-top: 5px;
    background-color: #ffaa6a;
    opacity: 0.7;
    border: 1px outset gray;
    color: rgb(37, 37, 37);
    padding: 5px 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
  }
  
.button:hover {
    letter-spacing: 1px;
    opacity: 1;
    background-color: #c7e7ac; 
    color: rgb(255, 255, 255);
}

@keyframes animate{
    0%{
        transform: RotateY(90deg);
    }
    180%{
        transform: RotateY(360deg);
    }
}
.back a{
    text-decoration: none;
    border-radius: 5px;
    background-color: #f9ac79f7;
    border: 2px outset rgb(250, 136, 6);
    color: rgb(255, 253, 253);
    padding: 5px 5px;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.3s;
    cursor: pointer;
}
.back a:hover{
    letter-spacing: 2px;
    background-color: #0000009f; 
    color: rgb(255, 255, 255);  
}

.title{
    color: white;
    font-family: var(--family);
    text-shadow: 1px 1px 0px rgb(252, 151, 0),2px 2px 0px rgb(255, 238, 0),4px 4px 2px rgb(252, 173, 2),5px 5px 0px rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 1px;
    text-transform: uppercase; 
    border-bottom: 2.5px outset rgb(255, 111, 9);  
    padding: 2px;
    margin:auto;
    width: 50%; 
    margin-bottom: 20px;

}
